# build artifacts
build/
docs/html/
out/

# python
*.egg-info/
dist/
__pycache__/
*.pyc
.mypy_cache/
.pytest_cache/

# IDE
.vscode/
.vs/
.idea/

# private files
.dockerenv
.env

# results of tests
examples/notebooks/latex_error.log
examples/scripts/qasm_files/test_qasm_converted.inc
