numpy>=1.26.4
scipy>=1.11.4
python_dotenv>=1.0.0
jsonschema>=4.17.3
typeguard>=4.2.1
pylatexenc==2.10
anytree>=2.12.1
sympy==1.13.1
pick==2.2.0
termcolor==2.4.0
symengine>=0.11.0
numba==0.60.0
aenum==3.1.15
ply
matplotlib
networkx
qiskit==1.2.4