-r requirements.txt
setuptools
pytest==9.0.2
nbmake
sphinx==9.1.0 ; python_version >= "3.12"
sphinx==8.1.3 ; python_version < "3.12"
sphinx-rtd-dark-mode>=1.3.0
sphinx-copybutton>=0.5.2
sphinx_github_changelog>=1.3.0
nbsphinx
nbsphinx_link
pyright==1.1.408
boto3-stubs
black==24.4.2